POSTGRES_USER=wheelby
POSTGRES_PASSWORD=colocatucontraseña
POSTGRES_DB=wheelby
POSTGRES_PORT=5432
ConnectionStrings__Postgres=Host=localhost;Port=5432;Database=wheelby;Username=wheelby;Password=colocatucontraseña

Smtp__Host=smtp.example.com
Smtp__Port=587
Smtp__User=usuario@example.com
Smtp__Password=change_me
Smtp__From=usuario@example.com

App__ActivationUrl=http://localhost:5299/auth/activate

Jwt__Key=change_me_use_a_random_key_of_at_least_32_chars
Jwt__Issuer=wheelby
Jwt__Audience=wheelby-api
Jwt__ExpirationMinutes=60